$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "sass-bootstrap/lib/bootstrap";
@import "jquery-ui/theme";
@import "faw/scss/font-awesome";


/* ==============================================================================
   Board Styles
   ============================================================================ */

html {}

::-webkit-scrollbar {
  height: .5em;
  background: #404749;
  width: .5em;
}

::-webkit-scrollbar-thumb {
  background: #323232;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  background: #404749;
}

::-webkit-resizer {
  background: #404749;
}

body {
  background: #434348;
  color: #CCC;
}

.main {
  display: block;
  overflow: hidden;
}

header {
  background-color: #323237;
  color: #FFF;
  border-top: 1px solid #111;
  padding: 10px 0px 0px 0px;
  overflow: hidden;
  display: block;
  height: 60px;
  margin-top: -60px;
  #puller {
    background-color: #323237;
    height: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    :hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .brand {
    margin-left: 20px;
    line-height: 45px;
    font-weight: bold;
    font-size: 25px;
    color: #111;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
  }
  .brand:hover {
    text-decoration: none;
    color: #FFF;
  }
  #close {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px 7px 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 18px;
  }
  #close.active, #close:hover {
    background: #FF615E;
    color: #323237;
    text-decoration: none;
    cursor: pointer;
  }
  #nav {
    float: right;
    margin-top: 4px;
    a {
      color: white;
      background: rgba(0, 0, 0, 0.2);
      padding: 10px 20px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      display: block;
      float: left;
      margin-right: 30px;
      font-size: 18px;
    }
    a.active, a:hover {
      background: rgba(0,0,0, 0.5);
      text-decoration: none;
      cursor: pointer;
    }
    .uname {
      padding: 10px 20px;
      display: block;
      float: left;
      margin-right: 10px;
      font-size: 18px;
    }
  }
}

#welcome {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  color: #333;
}

.kanban-board {
  margin: 30px 17px;
  width: 98%;
  h2.title, h3.title, h4.title, h5.title {
    text-shadow: 0px 2px 1px #222;
    color: #DCDCDC;
    vertical-align: bottom;
    .wip {
      font-size: 1.3em;
      color: #EDEDDD;
    }
    .wip.exceeded {
      color: #D40838;
    }
    .wip.limit {
      color: #F38630;
    }
  }
  h2.title, h3.title {
    padding-bottom: 15px;
    text-align: center;
    height: 40px;
  }
  h4.title, h5.title {

  }
}

.card {
  border: 2px solid #CCC;
  background: #CCC;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 1px 1px 2px 1px #333;
  -webkit-box-shadow: 1px 1px 2px 1px #333;
  box-shadow: 1px 1px 2px 1px #333;
  margin: 5px 0 8px 0;
  .dragger:hover {
    -webkit-box-shadow: 0px 0px 0pt 2pt #CBE86B;
    -moz-box-shadow: 0px 0px 0pt 2pt #CBE86B;
    box-shadow: 0px 0px 0pt 2pt #CBE86B;
  }
  .title, .body, .comment-body {
    text-shadow: 0 0 15px #fff, 0 0 15px #fff;
  }
  .body, .comment-body {
    background-color: rgba(255, 255, 255, 0.65);
    margin: 10px -5px;
    padding: 10px 5px 5px 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .title:hover {
    cursor: pointer;
  }
  .inner-card {
    color: #222;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 5px;
    background: #F3F1E0;
    cursor: default;
    display: block;
    position: relative;
    .title, .no {
      font-size: 1.15em;
    }
    .comments {
      float: right;
      color: #222;
    }
    .comments:hover {
      cursor: pointer;
      text-decoration: none;
    }
    .comments-content {
      margin-bottom: 25px;
    }
    .labels {

    }
    .label {
      display: inline-block;
      font-size: 11px;
      font-variant: small-caps;
      padding: 2px 4px;
      border-radius: 2px;
      box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
    }
    .label.darker {
      color: #212;
      text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    }
    .label.lighter {
      text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    }
    .no {
      font-weight: bold;
      color: rgba(0,0,0,0.65);
      text-shadow: none;
      display: block;
    }
    .big {
      margin-right: 10%;
    }
    .medium {
      margin-right: 5%;
    }
    .small {
      margin-right: 1%;
    }
    .foot {
      clear: both;
      display: block;
      a:hover {
        text-decoration: none;
      }
    }
  }
  .users {
    display: block;
    clear: both;
    margin-top: 5px;
    height: 25px;
  }
  .pict {
    display: block;
    float: left;
    margin-right: 5px;
    border-radius: 2px;
    width: 25px;
    height: 25px;
  }
  .signs {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.card.ui-selected {
  -webkit-box-shadow: 0px 0px 0pt 2pt #CBE86B;
  -moz-box-shadow: 0px 0px 0pt 2pt #CBE86B;
  box-shadow: 0px 0px 0pt 2pt #CBE86B;
}

.column {
  overflow: auto;
  float: left;
  .drag-zone {
    background: #606570;
    border-right: 1px solid #404749;
    min-height: 200px;
    padding: 7px 5px;
  }
  .card-holder {
    height: 20px;
    background-color: #828792;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
  }
}

.column.w3 {
  width: 33%;
}

.column.w2 {
  width: 50%;
}

.ui-sortable-helper .inner-card {
  cursor: move;
}

/*
 Card types & colors
*/

.story, .enhancement, .feature {
  background-color: #498FD7;
  border-color: #498FD7;
  .inner-card {
    background: #E6F1F6;
  }
  .comments {
    color: #498FD7;
  }
}

.bug {
  background-color: #E94E77;
  border-color: #E94E77;
  .inner-card {
    background: #FFE8C7;
  }
  .comments {
    color: #E94E77;
  }
}
